.vscode/*

vs2022/.vs/*
vs2022/Debug/*
vs2022/Release/*
vs2022/High1LineDataFile/Debug/*
vs2022/High1LineDataFile/Release/*
vs2022/High1FieldDataFile/Debug/*
vs2022/High1FieldDataFile/Release/*
vs2022/High1Frame4MotorField2RemFieldDataFile/Debug/*
vs2022/High1Frame4MotorField2RemFieldDataFile/Release/*
vs2022/High1Frame4FieldDataFile/Debug/*
vs2022/High1Frame4FieldDataFile/Release/*
vs2022/High1FieldAugmentedDataFile/Debug/*
vs2022/High1FieldAugmentedDataFile/Release/*
vs2022/HighGetAuxiliary/Debug/*
vs2022/HighGetAuxiliary/Release/*
vs2022/HighGetInformation/Debug/*
vs2022/HighGetInformation/Release/*
vs2022/HighGetSpotData/Debug/*
vs2022/HighGetSpotData/Release/*
vs2022/LowUserRequest/Debug/*
vs2022/LowUserRequest/Release/*
vs2022/urg3d/Debug/*
vs2022/urg3d/Release/*

*.user